*{
    margin: 0px;
    padding: 0px;
}
nav{
    width: auto;
    height: 15vh;
    background-color: chocolate;
    text-align: center;
    color: white;

}
h2{
    text-align: center;
    padding: 20px;
}
    #myself{
        width:100%;
        height: 80vh;
    }
#divleft{
    width: 15%;
    height: 80vh;
    background-color: burlywood;
    float: left;
}
#content{
    width: 85%;
    height: 80vh;
    float: right;
    background-color: white;
}

iframe{
    width: 100%;
    height: 80vh ;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    background-color: yellow;
    padding: 5px;
}

ul , li{
    list-style: none;
    display: block;
    padding: 0px;
    margin: 20px 10px;
}

iframe{
    height: inherit;
    display: block;
}
footer{
    background-color: cornflowerblue;
    padding: 5px;
    text-align: center;
}
