*{
    margin: 0px;
    padding: 0px;
}
nav{
    height: 10vh;
    width: 100%;
    background-color: #663434;
}

#sidebar{
    height: 90vh;
    width: 20%;
    background-color: #1e7941;
    float: left;
}

#content{
    height: 90vh;
    width: 80%;
    float: right;
    justify-content: center;
}
iframe{
    height: inherit;
    width: 100%;
    display: block;
}
   